body {
    background-color: tan;
}

p {
    font-family: Arial;
    font-size: 15px;
    color: white;
}

div {
    background-color: white;
    width: 300px;
    color: black;
}

table, th, td {
    border:1px solid black;
}